
div.trans_popup_layer {
    border: 1px solid #9e9c9d;
    text-align: center;
    background: white;
    overflow: visible;
    padding: 0px;
    width: 333px;
    overflow-x: hidden;
    padding: 1px;
    overflow-y: visible;
    direction: rtl;
    display: none;
}


    div.trans_popup_layer div.content {
        padding: 10;
        text-align: center;
    }

        div.trans_popup_layer div.content div.header {
            font-family: 'Ploni',Arial;
            font-weight: bold;
            font-size: 16px;
        }

        div.trans_popup_layer div.content div.body {
            background: #ffffff;
            padding: 0;
            direction: rtl;
            width: 100%;
            text-align: center;
        }

    div.trans_popup_layer div.header_toolbar {
        height: 22px;
        width: 100%;
        text-align: left;
        padding: 0;
        background-image: url('../App_Themes/Default/Images/2019/x-black.png');
        background-repeat: no-repeat;
        background-position: 0px 0px;
        cursor: pointer;
        font-family: 'Ploni',Arial;
        font-size: 14px;
    }

        div.trans_popup_layer div.header_toolbar div.close_cmd {
            font-family: 'Ploni',Arial;
            font-size: 1.05em;
            color: #1b5ece;
            cursor: pointer;
            padding: 0px 0px 0px 30px;
            height: 18px;
            width: 100px;
            float: left;
            line-height: 1.4
        }




    div.trans_popup_layer div.body table.data {
        width: 100%;
        /*border: 1px solid gray;*/
        margin: 10px 0px 0px 0px
    }

        div.trans_popup_layer div.body table.data td {
            border-bottom: 1px dotted gray;
            width: 50%;
            height: 31px;
            vertical-align: middle;
            padding: 0px 5px 0px 5px;
            text-align: right;
        }

        div.trans_popup_layer div.body table.data tbody tr:not(:first-of-type) {
            background: #F8F9FE;
        }

        div.trans_popup_layer div.body table.data tbody tr:last-of-type {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            background: #F8F9FE;
        }

        div.trans_popup_layer div.body table.data td.title {
            background-color: #1b5ece;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border: none;
        }

            div.trans_popup_layer div.body table.data td.title span.text {
                font-size: 14px;
                font-weight: bold;
                color: White;
                font-size: 14px;
            }

        div.trans_popup_layer div.body table.data td div.field_name {
            width: 100%;
            font-weight: bold;
            font-size: 13px;
        }

        div.trans_popup_layer div.body table.data td div.field_value {
            width: 100%;
            font-weight: normal;
            font-size: 13px;
        }

        div.trans_popup_layer div.body table.data td div.ltr {
            direction: ltr;
        }


div.targets_popup_layer {
    border: 1px solid #9e9c9d;
    text-align: center;
    background: white;
    overflow: visible;
    padding: 0px;
    width: 333px;
    overflow-x: hidden;
    padding: 1px;
    overflow-y: visible;
    direction: rtl;
    display: none;
}


    div.targets_popup_layer div.content {
        padding: 10;
        text-align: center;
    }

        div.targets_popup_layer div.content div.header {
            font-family: 'Ploni',Arial;
            font-weight: bold;
            font-size: 16px;
        }

        div.targets_popup_layer div.content div.body {
            background: #ffffff;
            padding: 0;
            direction: rtl;
            width: 100%;
            text-align: center;
        }

    div.targets_popup_layer div.header_toolbar {
        height: 22px;
        width: 100%;
        text-align: left;
        padding: 0;
        background-image: url('../App_Themes/Default/Images/close_btn.gif');
        background-repeat: no-repeat;
        background-position: 0px 0px;
        cursor: pointer;
        font-family: 'Ploni',Arial;
        font-size: 14px;
    }

        div.targets_popup_layer div.header_toolbar div.close_cmd {
            font-family: 'Ploni',Arial;
            font-size: 1.05em;
            color: #1b5ece;
            cursor: pointer;
            padding: 0px 0px 0px 30px;
            height: 18px;
            width: 100px;
            float: left;
            line-height: 1.4
        }




    div.targets_popup_layer div.body table.data {
        width: 100%;
        border: 1px solid gray;
        margin: 10px 0px 0px 0px
    }

        div.targets_popup_layer div.body table.data td {
            border-bottom: 1px dotted gray;
            width: 50%;
            height: 28px;
            vertical-align: middle;
            padding: 0px 5px 0px 5px;
            text-align: right;
        }

            div.targets_popup_layer div.body table.data td.title {
                background-color: #005288;
                border: none;
            }

                div.targets_popup_layer div.body table.data td.title span.text {
                    font-size: 14px;
                    font-weight: bold;
                    color: White;
                    font-size: 14px;
                }

            div.targets_popup_layer div.body table.data td div.field_name {
                width: 100%;
                font-weight: bold;
                font-size: 13px;
            }

            div.targets_popup_layer div.body table.data td div.field_value {
                width: 100%;
                font-weight: normal;
                font-size: 13px;
            }

            div.targets_popup_layer div.body table.data td div.ltr {
                direction: ltr;
            }


div.trans_view_pager {
    position: relative;
    width: 100%;
    padding: 0px;
    bottom: 0px;
    left: 0px;
}

    div.trans_view_pager table.pager_links {
        height: 32px;
        margin: auto;
    }

        div.trans_view_pager table.pager_links td.next {
            width: 45%;
            text-align: right;
            vertical-align: middle;
        }

            div.trans_view_pager table.pager_links td.next div.link {
                background-image: url('../App_Themes/Default/Images/left_dbl_arrow.gif');
                background-position: 0% 60%;
                background-repeat: no-repeat;
                white-space: nowrap;
                float: right;
                font-size: 17px;
                font-weight: 500;
                color: #1b5ece;
                padding: 0px 0px 0px 15px
            }

                div.trans_view_pager table.pager_links td.next div.link:hover {
                    cursor: pointer;
                }

        div.trans_view_pager table.pager_links td.prev {
            width: 45%;
            text-align: left;
            vertical-align: middle;
        }

            div.trans_view_pager table.pager_links td.prev div.link {
                background-image: url('../App_Themes/Default/Images/right_dbl_arrow.gif');
                background-position: 100% 60%;
                background-repeat: no-repeat;
                white-space: nowrap;
                float: left;
                font-size: 17px;
                font-weight: 500;
                color: #1b5ece;
                padding: 0px 15px 0px 0px
            }

                div.trans_view_pager table.pager_links td.prev div.link:hover {
                    cursor: pointer;
                }

        div.trans_view_pager table.pager_links td.sep {
            width: 10%;
            color: #005288;
            font-size: 12px;
            text-align: center;
            vertical-align: middle;
            color: #007cc3
        }

div.trans_view_toolbar table.toolbar_btns {
    width: 100%;
}

    div.trans_view_toolbar table.toolbar_btns td {
        width: 50%;
        height: 30px;
        vertical-align: middle;
    }

div.trans_popup_layer div.body table.data tbody tr td div.trans_payment {
    height: 30px;
    cursor: pointer;
    background-image: url('../App_Themes/Default/Images/early_payment_but.gif');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    display: none;
}

div.trans_view_toolbar table.toolbar_btns div.trans_denial {
    height: 25px;
    cursor: pointer;
    background-size: 25px;
    background-image: url(../App_Themes/Default/Images/2019/iconsBlue/icon_info.png);
    background-position: 60%;
    background-repeat: no-repeat;
    padding-right: 50px;
    display: block;
}

div.trans_view_toolbar table.toolbar_btns div.trans_denial span.text {
    line-height: 30px;
    margin-right: 37px;
    color: #1b5ece;
    font-size: 17px;
    font-weight: 500;
}

div.trans_view_toolbar table.toolbar_btns div.trans_print {
    height: 30px;
    cursor: pointer;
    background-size: 27px;
    background-image: url(../App_Themes/Default/Images/2019/iconsBlue/printbig.png);
    background-position: center right;
    background-repeat: no-repeat;
    display: block;
}

div.trans_view_toolbar table.toolbar_btns div.trans_print span.text {

    line-height: 30px;
    margin-right: 37px;
    color: #1b5ece;
    font-size: 17px;
    font-weight: 500;
}

.grid {
    width: 100%;
    margin: 0px 0px 0px 0px;
    direction: rtl
}

    .grid .C {
        height: 27px;
        text-align: right;
        background: transparent;
        cursor: default;
        direction: rtl;
        background-image: url('../App_Themes/Default/Images/dots.gif');
        background-position: left bottom;
        background-repeat: repeat-x;
        padding: 3px 8px 3px 4px; /*border-collapse:collapse;*/
        color: #000000;
        font-size: 14px;
        vertical-align: middle;
        /*border-bottom:1px dotted lightgray;*/
    }

    .grid .C0 {
        width: 0px;
    }

    .grid .C55 {
        width: 55px;
        /*padding-top: 3px;
        padding-bottom: 3px;*/
    }

    .grid .C70 {
        width: 70px;
    }

    .grid .C45 {
        width: 45px;
    }

    .grid .C140 {
        width: 140px;
    }

    .grid .C200 {
        width: 200px;
    }

    .grid .B {
        font-weight: bold
    }

    .grid .N {
        direction: ltr;
        font-size: 14px;
    }

    .grid .NB, .grid .NW {
        white-space: nowrap
    }

    .grid .CR {
        color: #199079;
        font-weight: bold;
    }

    .grid .DIS {
        color: #6c6c6c;
    }

    .grid .NEG {
        color: #457b00;
        font-weight: bold;
        direction: ltr;
    }

    .grid .NOTE {
        font-weight: normal;
        padding: 2px 0px 2px 0px;
        white-space: normal
    }


div.contactless {
    background-image: url('../App_Themes/Default/Images/icon-contactless.gif');
    background-position: right center;
    background-repeat: no-repeat;
    min-height: 19px;
    padding-right: 22px !important;
    line-height: 19px;
}

div.phone_icon {
    background-image: url('../App_Themes/Default/Images/icon-phone.gif');
    background-position: right center;
    background-repeat: no-repeat;
    min-height: 19px;
    padding-right: 22px !important;
    line-height: 19px;
}

div.contactless_remark {
    background-image: url('../App_Themes/Default/Images/icon-contactless.gif');
    background-position: right top;
    background-repeat: no-repeat;
    padding-right: 16px;
}

div.phone_icon__remark {
    background-image: url('../App_Themes/Default/Images/icon-phone.gif');
    background-position: right top;
    background-repeat: no-repeat;
    /*height: 19px;*/
    padding-right: 16px;
}

.box_rounded_corners {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    behavior: url(../App_Themes/Default/PIE.htc);
}

.box_drop_shadow {
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    behavior: url(../App_Themes/Default/PIE.htc);
}

.bottom_rounded_corners {
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    behavior: url(../App_Themes/Default/PIE.htc);
}

.top_rounded_corners {
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    behavior: url(../App_Themes/Default/PIE.htc);
}





.ui-dialog {
    position: absolute;
    padding: .2em;
    width: 300px;
    background: white;
    border: 1px solid #f7f9ff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.7);
}

    .ui-dialog .ui-dialog-titlebar {
        display: none;
    }


div.bank_debits_brief {
    margin: 0px 0px 5px 0px;
    overflow: hidden;
}





td.inner_cell {
    height: 23px;
    text-align: right;
    background: #ffffff;
    cursor: default;
    padding: 0px 8px 2px 4px;
    border-collapse: collapse;
}

tr.credit td.inner_cell {
    color: #3E7900;
    font-weight: bold;
}

td.inner_cell div.nw {
    font: 12px arial;
    display: block;
    margin: 6px 4px 3px 4px;
    text-align: right;
    color: #000000;
    white-space: nowrap
}

table.debit_summery_grid td.toggle_expand {
    border-right: 0px solid #e4e0e1;
    width: 25px;
}


.cmb_trans_type {
    width: 170px;
}
